<form method="post" action="{{ path('lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer cet element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    <button class="btn">Effacer</button>
</form>
