{% extends 'base.html.twig' %}

{% block title %}Editer Lieu{% endblock %}

{% block body %}
    <h1>Editer Lieu</h1>

    {{ include('lieu/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('lieu_index') }}">retour à la liste</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
