{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Nouveau Lieu</h1>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('lieu_index') }}">retour à la liste</a>
{% endblock %}
