{% extends 'base.html.twig' %}

{% block title %}Edit Oeuvre{% endblock %}

{% block body %}
    <h1>Edit Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig', {'button_label': 'mettre à jour'}) }}

    <a href="{{ path('oeuvre_index') }}">retour à la liste</a>

    {{ include('oeuvre/_delete_form.html.twig') }}
{% endblock %}
