{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
    <h1>Nouveau Auteur</h1>

    {{ include('auteur/_form.html.twig') }}

    <a href="{{ path('auteur_index') }}">retour à la liste</a>
{% endblock %}
