{% extends 'base.html.twig' %}

{% block title %}Éditer Édition{% endblock %}

{% block body %}
    <h1>Éditer Édition</h1>

    {{ include('edition/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('edition_index') }}">retour à la liste</a>

    {{ include('edition/_delete_form.html.twig') }}
{% endblock %}
