{% extends 'base.html.twig' %}

{% block title %}Edit TypeOeuvre{% endblock %}

{% block body %}
    <h1>Edit TypeOeuvre</h1>

    {{ include('type_oeuvre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_oeuvre_index') }}">back to list</a>

    {{ include('type_oeuvre/_delete_form.html.twig') }}
{% endblock %}
