{% extends 'base.html.twig' %}

{% block title %}Éditer le type d'œuvre{% endblock %}

{% block body %}
    <h1>Éditer le type d'œuvre</h1>

    {{ include('type_oeuvre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('type_oeuvre_index') }}">retour à la liste</a>

    {{ include('type_oeuvre/_delete_form.html.twig') }}
{% endblock %}