{% extends 'base.html.twig' %}

{% block title %}New TypeOeuvre{% endblock %}

{% block body %}
    <h1>Create new TypeOeuvre</h1>

    {{ include('type_oeuvre/_form.html.twig') }}

    <a href="{{ path('type_oeuvre_index') }}">back to list</a>
{% endblock %}
